<h1>Enter a New Library</h1>

<form action="/library/create" method='post'>
  <label>
    Title: <br>
    <input type="text" name="title">
  </label>
  <br><br>
  <label>
    <input type="submit" value="Submit Library">
  </label>
</form>
