<h1>New Book</h1>

<form action="/libraries/create" method='post'>
  <label>
    Title: <br>
    <input type="text" name="title">
  </label>
  <br><br>
  <label>
    <input type="submit" value="Submit Library">
  </label>
</form>
