<h2>Rock on!</h2>
<div>You've just added <br>
  <p><strong><%= @book.name %></strong> by <strong><%= @book.author %></strong></p>
  to your database!
</div>
<br>
<div>
  <a href='/books/index'>Back to books</a>
</div>
