<h1>New Book</h1>

<form action="/books/create" method="post">
  <label>
    Title:<br>
    <input type="text" name="name">
  </label>
<br><br>
  <label>
    Author:<br>
    <input type="text" name="author">
  </label>
<br><br>
  <input type="submit" value="Submit Book">
</form>
